@charset "UTF-8";
/*font-family: 'Raleway', sans-serif;*/
/*vert turquoise --> #91422b */
/*vert fonce --> #01796F */
body, html {
	padding:0;
	margin: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}
a, a:hover {
	text-decoration: none;
	color: #91422b;
}
.container-fluid {
	padding: 0;
}
.separator{
	height: 3px;
	width: 5%;
	border: none;
	box-shadow: none;
	background-color: #1b1b1b;
}
/*header*/
.header {
	background-color:  #91422b;
	height: 70px;
	line-height: 70px;
}
.logo {
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}
.menu {
	float: right;
}
.menu a{
	color: #FFFFFF;
	margin-right: 20px;
}
.menu a:hover{
	color: #1b1b1b;;
}
/*banniere*/
.banner{
	width: 100%;
	max-width: 100%;
}
.ban{
	width: 100%;
	max-width: 100%;
	position: relative;
}
.ban img {
	width: 100%;
	max-width: 100%;
}
.inner-banner {
	position: absolute;
	/*va se positionner au dessus de sa div qui est en position relative*/
	/*mtn qu'on est en pos absolute on utilise plus les margin que top left ... */
	top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
}
.inner-banner h1 {
	color: #FFFFFF;
	text-shadow: 1px 1px 20px #000000;
}
.inner-banner .btn-custom{
	background-color:#91422b;
	color:#ffffff;
	border-radius: 20px;
}
.inner-banner .btn-custom:hover{
	background-color: #1b1b1b;
}
/*about*/
#about {
	text-align: center;
	padding-top: 10%;
}
.about article {
	margin-top: 10%;
	margin-bottom: 10%;
}
.about article h2{
	text-align: center;
}
/*portfolio*/
.portfolio {
	background-color: #EEEEEE;
	height: 800px;
}
#portfolio {
	text-align: center;
}
.portfolio .item-folio{
	height: 280px;
	background-color: #1b1b1b;
}
/*footer*/
.context-dark, .bg-gray-dark, .bg-primary {
	color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
	color: #ffffff;
}
.nav-list li {
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-list li a:hover:before {
	margin-left: 0;
	opacity: 1;
	visibility: visible;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}


.social-container .col {
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
	content: "\f14f";
	font: 400 21px/1 "Material Design Icons";
	color: #91422b;
	display: inline-block;
	vertical-align: baseline;
	margin-left: -28px;
	margin-right: 7px;
	opacity: 0;
	visibility: hidden;
	transition: .22s ease;
}






/* inscription*/
#login .container #login-row #login-column #login-box {
  margin-top: 1px;
  max-width: 600px;
  height: 400px;
  border: 1px solid;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
  height: 50px;
  text-align: right;
}




article
{
    padding-bottom: 20px;
}
.article-caption
{
position: absolute;
bottom: 16px;
max-width: 90%;
text-align: center;
background-color: rgba(200,200,200,0.5);

}
.article-img
{
width: 100%; 
max-height: 400px;
object-fit: cover;
}


@media screen and (max-width: 768px) { 
.article-title
{
font-size: 28px;
}
}

@media screen and (max-width: 500px) { 
.article-title
{
font-size: 20px;
}
}

.article-caption a
{
color: white;
}


/*commentaires*/
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }